<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body ng-app="myApp">
<!-- JQUERRY -->
<script src="js/jquery-3.2.1.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!--Angular-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<div class="container" ng-controller="myCtrl">
    <div ng-repeat="x in records">

        <h2>{{x.name}}</h2>
        <img src="userImages/{{x.imageUrl}}" class="img-thumbnail">
        <p>{{x.description}}</p>
        <p>created by: {{x.userCreated.username}}</p>
        <p>expires on: {{x.expirationDate}}</p>
        <button ng-click="deleteProps(x);" type="button" class="btn btn-danger">Delete</button>
        <br>
            <form method="POST" enctype="multipart/form-data" action="/api/props/image">
                <table>
                    <input type="file" name="file" />
                    <input type="text" name="id" value="{{x.id}}" hidden/>
                    <input type="submit" value="Upload" />
                </table>
            </form>

    </div>
</div>

<script src="js/myprops2.js"></script>
</body>
</html>