<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/jquery-3.2.1.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!--Angular-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body ng-app="myApp">
<div class="container" ng-controller="myCtrl">
    <h2>{{props.name}}</h2>
    <img src="userImages/{{props.imageUrl}}" class="img-thumbnail">
    <p>{{props.description}}</p>
    <p>created by: {{props.userCreated.username}}</p>
    <p>expires on: {{props.expirationDate}}</p>
    <br>

    <div ng-repeat="x in records">
        <div ng-hide="{{props.sold}}">
            <p>Offered by: {{x.user.username}}</p>
            <button ng-click="acceptOffer(x);" type="button" class="btn btn-primary">Accept offer</button>
            <input type="number" ng-model="x.value" disabled>
            <br>
        </div>
    </div>

</div>

<script src="js/offersOnProps.js"></script>

</body>
</html>